<section class="h-100 h-custom" style="background-color: #8fc4b7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2", align="center">Create Post</h3>

              <%= form_with model: @post, url: create_post_path, class: "px-md-2", local: true, data: { turbo: false } do |form| %>
                
                <% if form.object.errors.any? %>
                  <div class="alert alert-danger">
                    <% form.object.errors.full_messages.each do |message| %>
                      <div> <%= message %> </div>
                    <% end %>
                  </div>
                <% end %>

                <div class="form-outline mb-4" align="center">
                  <%= form.label :author, value: Current.user.username  %>
                  <%= form.hidden_field :author, class: "form-control", value: Current.user.username %>
                </div>

                <div class="form-outline mb-4">
                  <%= form.label :title %>
                  <%= form.text_field :title, class: "form-control", placeholder: "title" %>
                </div>

                <div class="form-outline mb-4">
                  <%= form.label :body %>
                  <%= form.text_field :body, class: "form-control", placeholder: "body" %>
                </div>


                <div class="d-flex justify-content-center">
                  <%= form.submit "create post", class: "btn btn-success btn-block btn-lg gradient-custom-4 text-body" %>
                </div>
              <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


